{% extends ('base.twig') %}

{% block content %}

            <div class="container">
                <div class="new-entry">
                    <h2>New Entry</h2>
                    <form method='post'>
                        <input type="hidden" name="csrf_name" value="{{ csrf.csrf_name }}">
                        <input type="hidden" name="csrf_value" value="{{ csrf.csrf_value }}">
                        <input type="hidden" name="date" value="{{ 'now' | date()}}">
                        <label for="title"> Title</label>
                        <input type="text" name="title" value="" required><br>
                        <label for="body">Entry</label>
                        <textarea rows="5" name="body" required></textarea>
                        <label for="tags">Tags</label>
                     
                        <input type="text" name="tags" value="">
                        <input type="submit" name="update" value="Save Entry" class="button">
                        <a href="{{ base_url() }}" class="button button-secondary">Cancel</a>
                    </form>
                </div>

                {% endblock %}
   